name: Build Unit Converter API
env:
  GO_VERSION: '1.26'

on:
  pull_request:
  push:

jobs:

  code-quality:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: "${{ env.GO_VERSION }}"
        cache: 'true'  
    - name: Lint
      run: make lint
    - name: Test
      run: |
        make coverage-ci
        make coverage-codecov
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: "${{ env.GO_VERSION }}"
        cache: 'true'
    - name: Build
      run: make build

  docker-build-arm:
    needs: ["code-quality", "build"]
    runs-on: macos-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    if: github.ref == 'refs/heads/develop' || github.ref == 'refs/heads/feature/improve-ci-pipeline'
    steps:
    - uses: actions/checkout@v6
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Get Version
      id: get_version
      run: |
        image_name="${{ vars.DOCKER_HUB_REPOSITORY }}/unit-converter-api-lightweight"
        tags=""
        if [[ "${GITHUB_REF}" == refs/heads/develop ]]; then
          api_version="$(cat version)-alpha"
          echo "API_VERSION=$api_version" >> $GITHUB_ENV
          tags="${image_name}:${api_version}"
        elif [[ "${GITHUB_REF}" == refs/heads/main ]]; then
          api_version="$(cat version)"
          echo "API_VERSION=$api_version" >> $GITHUB_ENV
          tags="${image_name}:${api_version},${image_name}:latest"
        else
          echo "Not on develop or main branch."
          tags="${image_name}:test"
        fi
        echo "Tags to be pushed: ${tags}"
        echo "tags=${tags}" >> $GITHUB_ENV
    - name: Build and push Docker image
      id: push
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ env.tags }}
        labels: ${{ env.tags }}
    - name: Generate artifact attestation
      uses: actions/attest-build-provenance@v3
      with:
        subject-name: index.docker.io/my-docker-hub-namespace/my-docker-hub-repository
        subject-digest: ${{ steps.push.outputs.digest }}
        push-to-registry: true

  tag-branch:
    needs: docker-build-arm
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v5      
    - name: Tag branch
      run: |
        api_version="$(cat version)"
        git fetch --tags
        if git rev-parse "origin/${api_version}" >/dev/null 2>&1 || git ls-remote --tags origin | grep "refs/tags/${api_version}" >/dev/null; then
          echo "Tag ${api_version} already exists on remote. Skipping tag creation and push."
          exit 0
        fi
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git tag "${api_version}"
        git push origin "${api_version}"